@media (min-width: 671px) {
    .main {
      margin: 0 100px 0 100px;
    }
    .form-input {
      width: 400px;
    }
    #playlist-body {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
    }
    .list-img img {
      width: 100px;
    }
  }
  
  @media (max-width: 960px) {
    .main {
      margin: 0 50px 0 50px;
    }
  }
  
  @media (max-width: 670px) {
    .form-input {
      width: 100%;
    }
    #playlist-body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
    }
  }
  