* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, WebKit */
    -moz-box-sizing: border-box; /* Firefox, Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    font-family: "Nunito", sans-serif;
  }
  
  body {
    background-color: #eee;
  }
  
  .header {
    text-align: center;
  }
  
  .form-input {
    /* background-color: white; */
    border-radius: 15px;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  
  .list {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  }

  .modal-title-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .list-img {
    float: left;
  }
  
  .list-detail {
    float: left;
    margin-left: 10px;
  }
  
  .song-title {
    font-weight: 800;
    font-size: 1.2rem;
  }
  
  .song-artist {
    font-weight: 800;
    font-size: 1rem;
  }

  .playlist-title {
    font-weight: 800;
    font-size: 1.2rem;
  }
  
  .playlist-count {
    margin-top: 2rem;
    font-weight: 400;
    font-size: 1rem;
  }
  
  .song-album {
    font-size: 1rem;
  }
  
  .list-detail p {
    margin: 0;
  }
  
  input[type="text"] {
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1rem;
    color: #595959;
    flex-grow: 1;
  }
  
  textarea {
    /* height: 30px; */
    outline: 0;
    border: none;
    font-size: 1rem;
    color: #595959;
    flex-grow: 1;
  }
  
  .input-div {
    background-color: #fff;
    padding: 7px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .custom-btn {
    background-color: #606160;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .custom-btn:hover {
    background-color: #7a7e7a;
  }
  
  .btn-1 {
    padding: 15px 32px;
    width: 100%;
    font-weight: 800;
  }
  
  .btn-2 {
    padding: 5px 10px;
    font-weight: 600;
  }
  